body {
    background-image: url('../imagens/bg-body.png'), url('../imagens/bg.png');
    background-repeat: repeat-x, no-repeat;
    background-size: auto,cover;
}
header {
    /*padding-top: 20px;*/
    /*background: repeat-x url('../imagens/bg-body.png');*/
}
header .logo{
    width: 250px;
    height: 80px;
    background-color: rgba(255,255,255,0.50);
    float:left;
}
header .button {
    margin-top: 20px;
}
.ajudar.button{
    float:right;
    margin-right: 5%;
}
.entrar.button{
    float:right;
}

aside{
    margin: 0 auto;
    margin-top: 70px;
    /*float: right;*/
    width: 500px;
    height: auto;
    background-color: rgba(0,0,0,0.50);
    text-align: center;
    padding: 10px;
}
aside h1{
    font-size: 3em;
    margin: 20px;
}

aside form{
    padding: 25px;
    font-size: 1.4em;
}

aside form input{
    /*text-align: center;*/
    width: 430px;
    padding: 10px;
    margin: 2px;
}
aside form .actions{
    margin: 0 auto;
    margin-top: 10px;
}
aside form .button{
    display: block;
    height: 30px;
}

.ajudar.dimmer{
    display: none;
    width: 700px;
    min-height: 400px;
    z-index: 9999;
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
    .ajudar.dimmer > *{
        color: black;
    }
    .ajudar.dimmer h1{
        font-size: 3em;
    }
    .ajudar.dimmer p{
        margin-top: 20px;
        text-align: justify;
        font-size: 1.2em;
    }

.painel.dimmer{
    position: absolute;
    top: 0;
    z-index: 1000;
    cursor: pointer;
}